@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model List<TaskModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localizer["Title"]</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

</head>
<body>
    <header id="header" class="header has-shadows">
        <div class="container-fluid">
            <div class="h-100 row">
                <div class="col d-flex">
                    <div class="title">
                        @Localizer["Title"]
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="d-flex">
        <div class="side-panel has-shadows">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="side-panel-info">
                            <h2>@Localizer["SidePanelTitle"]</h2>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="add-task-btn ms-auto" data-toggle="modal" data-target="#addTaskModal"">+</button>
                        <div id="addTaskModal" class="modal fade">
                            @await Html.PartialAsync("_AddTaskModal", new TaskModel { Id = 0 })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="myUL">
                                @await Html.PartialAsync("_TaskTree", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main" class="main has-shadows container ">
            @await Html.PartialAsync("_StartupContent")
        </div>
    </div>

    <footer id="footer" class="footer has-shadows">
    </footer>

    <script src="lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/site.js" type="text/javascript"></script>

</body>
</html>
